<div class="d-flex justify-content-center align-content-center top-50 gap-5 p-5">
    <a class="btn mx-2 p-3" asp-controller="MenuItems" asp-action="Index">MenuItems</a>
    <a class="btn mx-2 p-3" asp-controller="Bookings" asp-action="Index">Bookings</a>
</div>

<style>
    .btn {
        background-color: deepskyblue;
        border-color: deepskyblue;
        color: black;
    }

    .btn:hover {
        background-color: #99d6ff;
        border-color: #99d6ff;
    }
</style>