@model Booking

<h1>Booking Table: @Model.TableID</h1>

<form asp-action="Book" method="post">
    <input type="hidden" asp-for="TableID" />
    <div class="from-group">
        <label asp-for="CustomerID"></label>
        <input asp-for="CustomerID" class="form-control" />
        <span asp-validation-for="CustomerID" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="AmountOfPeople"></label>
        <input asp-for="AmountOfPeople" class="form-control"  min="1" max="@Model.MaxSeats" />
        <span asp-validation-for="AmountOfPeople" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="Time"></label>
        <input asp-for="Time" class="form-control" />
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="TimeEnd"></label>
        <input asp-for="TimeEnd" class="form-control" />
        <span asp-validation-for="TimeEnd" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>