@model List<Table>

<div class="container mt-5">
    <h1 class="text-center mb-4 text-white bg-dark py-3 rounded">Book a Table</h1>
    <div class="row">
        @foreach (var table in Model)
        {
            @if (table.IsAvailable)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card shadow-sm h-100" style="background-color: #f8f9fa; border: 2px solid black;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-dark">Table Number: @table.TableID</h5>
                            <p class="card-text text-secondary">Seats: @table.TableSeats</p>
                            <a asp-action="Book" asp-route-tableID="@table.TableID" asp-controller="BookTable" class="btn btn-dark mt-auto">Book Now</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

